.table{
    thead{
        padding: 2px;
    }
}

.back1{
    background-image: url('/back1.png');
    background-repeat: no-repeat;
}
.back2{
    background-image: url('/back2.png');
    background-repeat: no-repeat;
 
}
.back3{
    background-image: url('/back3.png');
    background-repeat: no-repeat;

}
.back4{
    background-image: url('/back4.png');
    background-repeat: no-repeat;

}
.back5{
    background-image: url('/back6.png');
    background-repeat: no-repeat;

}
